<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSS.DriveshaftCalculations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PSS.DriveshaftCalculations.Properties.Settings>
            <setting name="DataFilePath" serializeAs="String">
                <value>\\ps001\data2\Engineering\Programs\Driveshaft Wizard\Data.xml</value>
            </setting>
            <setting name="LoggedDataFileDirectory" serializeAs="String">
                <value>\\ps001\data2\Engineering\Programs\Driveshaft Wizard\Logs</value>
            </setting>
        </PSS.DriveshaftCalculations.Properties.Settings>
    </applicationSettings>
</configuration>